
.title{
    height:200rpx;
    width:100%;
    position:fixed;
    top:0;
    color:white;
    z-index:100;
    box-shadow:0 5rpx 10rpx rgb(67, 123, 235)
}
.title .content{
    position:absolute;
    top:50rpx;
    left:0;
    right:0;
    text-align:center;
}
.search{
    font-size:80%;
    position:absolute;
    bottom:10rpx;
    height:70rpx;
    width:100%;
}
.img{
    display:inline-block;
    margin-left:30rpx;
    width:70rpx;
    height:100%;
    border-radius:50%;
    background: black
}
.input{
    position: relative;
    display:inline-block;
    width:calc(100% - 100rpx);
    height:100%;
    overflow: hidden;
}

.s-input{
  position:absolute;
  top:50%;
  height:80%;
  width:70%;
  color:black;
  border-radius:4px;
  box-sizing:border-box;
  margin:-28rpx 20% 0 10px;
  padding-left:50rpx;
  background:rgb(245, 242, 242)
}
.s-input:before{
    content:'';
    display:inline-block;
    width:20rpx;
    height:20rpx;
    border-radius:50%;
    border:2rpx solid #999;
    position:absolute;
    left:15rpx;
    top:15rpx;
}
.s-input:after{
    content:'';
    width:12rpx;
    height:4rpx;
    background:#999;
    position:absolute;
    top:37rpx;
    left:32rpx;
    transform:rotate(45deg)
}
.s-btn{
    display:inline-block;
    width:15%;
    padding:0 5%;
    position:absolute;
    right:0;
    top:0;
    line-height:70rpx;
    text-align:center;
}
#clear{
    width:34rpx;
    height:34rpx;
    border-radius:50%;
    background: rgb(139, 139, 139);
    position: absolute;
    left:calc(70% - 25rpx);
    top:18rpx;
}
#clear:before{
    content:'';
    width:22rpx;
    height:4rpx;
    position:absolute;
    top:15rpx;
    left:7rpx;
    background:rgb(192, 189, 189);
    transform:rotate(45deg)
}
#clear:after{
    content:'';
    width:22rpx;
    height:4rpx;
    position:absolute;
    top:15rpx;
    left:7rpx;
    background:rgb(192, 189, 189);
    transform:rotate(-45deg)
}
.submit{
    position:fixed;
    z-index:1000;
    bottom:15rpx;
    right:15rpx;
    width:100rpx;
    height:100rpx;
    background:rgba(253, 252, 252, 0.8);
    box-shadow:0 0 15rpx #777;
    border-radius:50%;
    text-align:center;
}
.body{
    height:calc(100% - 200rpx);
    width:95%;
    position:absolute;
    top:200rpx;
    overflow:auto;
    right:0;
    left:0;
    margin:auto;
}
page{
    height:100%;
}